@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

tr:nth-child(even) {
  background-color: #e8e8e8;
}

.react-tabs__tab {
  display: inline-block;
  border: 2px solid #93c5fd;
  color: #3e8fec;
  position: relative;
  list-style: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 2px;
  width: 150px;
}
.react-tabs__tab:hover {
  background-color: gray;
  color: white;
  transition: 0.5s ease-in-out;
}

.react-tabs__tab--selected {
  background: #3e8fec;
  border-color: #93c5fd;
  color: white;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
